* {
  background-image: none;
  box-shadow: none;
}

window {
  background-color: #000000;
}

button {
  border-radius: 20px;
  border-color: black;
  text-decoration-color: #ffffff;
  color: #ffffff;
  background-color: #1e1e1e;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  margin: 20px;
}

button:focus,
button:active,
button:hover {
  background-color: #121212;
  outline-style: none;
}